body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.search{
  outline: 0;
  border: none;
  width: 100%;
  
}
.few{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin-left: 10px;
  border-radius: 20px;
  height: 30px;
  width: 100%;
  padding: 0 8px;
}
